{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Client Management Console</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Filter : &nbsp;
									<div class="btn-group">
										<button class="btn">All</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">All</a></li>
											<li><a href="#">Brokers</a></li>
											<li><a href="#">Regular</a></li>

											
										</ul>
									</div>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-primary">Message Client</a>
								</div>
							</div>
							<div class="module-body table">								

								<table class="table table-message">
									<tbody>
										<tr class="heading">
											<td class="cell-icon"></td>
											<td class="cell-title">Name</td>
											<td class="cell-status hidden-phone hidden-tablet">Designation</td>
											<td class="cell-status hidden-phone hidden-tablet">Phone Number</td>
											<td class="cell-time align-right">Email Address</td>
											<td class="cell-time align-right">Purchases</td>
										</tr>
										<tr class="task">
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td class="cell-title"><div>Alex Kimemia</div></td>
											<td class="cell-status hidden-phone hidden-tablet"><b class="due">Broker</b></td>
											<td class="cell-status hidden-phone hidden-tablet">0717828930</b></td>
											<td class="cell-time align-right">AlexKims@gmail.com</td>
											<td class="cell-time align-right">Ksh.45,789</td>
										</tr>
										
                                       
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% endblock %}