{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
                <div class="span9">
                    <div class="content">
                        <div class="module">
                            <div class="module-head">
                                <h3>
                                    Meetings Minutes & Agendas</h3>
                            </div>
                            <div class="module-body">
                                
                                <section class="docs">
                                    <h2>
                                        Meeting Date: 23/5/21</h2>
                                    <p>
                                        Purposes of the meeting was  <code>Responsibility</code> Held at <strong>Glatex Office</p>
                                    <div class="docs-example">
                                        <p>
                                            Every one to take Responsibility.</p>
                                        <p>
                                            Be punctual.</p>
                                        <p>
                                            Think Before You Do.</p>
                                    </div>
                                </section>
                             
                            </div>
                        </div>
                    </div>
                    <!--/.content-->
                </div>
                <!--/.span9-->
            </div>
        </div>
        <!--/.container-->
    </div>
    <!--/.wrapper-->
    {% endblock %}