{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
                   <div class="span9">
                        <div class="content">
                            <div class="btn-controls">
                                <div class="btn-box-row row-fluid">
                                    <a href="#" class="btn-box big span4"><i class=" icon-random"></i><b>0%</b>
                                        <p class="text-muted">
                                            Sales Growth</p>
                                    </a><a href="{% url 'employees'%}" class="btn-box big span4"><i class="icon-user"></i><b>15</b>
                                        <p class="text-muted">
                                            Day Total Sales</p>
                                    </a><a href="#" class="btn-box big span4"><i class="icon-money"></i><b>Ksh.00</b>
                                        <p class="text-muted">
                                            Net Profit</p>
                                    </a>
                                </div>
                                <div class="btn-box-row row-fluid">
                                    <div class="span8">
                                        <div class="row-fluid">
                                            <div class="span12">
                                                <a href="{% url 'admininvoices'%}" class="btn-box small span4"><i class="icon-envelope"></i><b>Invoices</b>
                                                </a><a href="{% url 'adminsales'%}" class="btn-box small span4"><i class="icon-group"></i><b>Sales</b>
                                                </a><a href="{%url 'adminexpenses'%}" class="btn-box small span4"><i class="icon-exchange"></i><b>Expenses</b>
                                                </a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <ul class="widget widget-usage unstyled span4">
                                        <li>
                                            <p>
                                                <strong>Product Sales</strong> <span class="pull-right small muted">78%</span>
                                            </p>
                                            <div class="progress tight">
                                                <div class="bar" style="width: 78%;">
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <p>
                                                <strong>Service Sales</strong> <span class="pull-right small muted">56%</span>
                                            </p>
                                            <div class="progress tight">
                                                <div class="bar bar-success" style="width: 56%;">
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                           
                            
                            <div class="module">
                                <div class="module-head">
                                    <h3>
                                        Snapshot of Unfullfilled Orders</h3>
                                </div>
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                        width="100%">
                                        
                                        <tbody>
                                           
                                            <tr class="even gradeC">
                                                <td>
                                                    Name
                                                </td>
                                                <td>
                                                    Amount
                                                </td>
                                                <td>
                                                    Service/Product
                                                </td>
                                                <td class="center">
                                                    Quantity
                                                </td>
                                                <td class="center">
                                                    Order Number
                                                </td>
                                            </tr>
                                           
                                            
                                        </tbody>
                                        {%for i in employees%}
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    {{i.First_Name}} 
                                                </th>
                                                <th>
                                                    {{i.Employee_Department}}
                                                </th>
                                                <th>
                                                    {{i.Employee_Salary}}
                                                </th>
                                                <th>
                                                    none
                                                </th>
                                                <th>
                                                    {{i.Employee_Status}}
                                                </th>
                                            </tr>
                                        </tfoot>
                                        {%endfor%}
                                    </table>
                                </div>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
{% endblock %}  
