{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
                    <div class="span9">
                        <div class="content">
                            <div class="module message">
                                <div class="module-head">
                                    <h3>
                                        Inventory Sales</h3>
                                </div>
                                <div class="module-option clearfix">
                                    <div class="pull-left">
                                        <div class="btn-group">
                                            <button class="btn">
                                                Inventory sales</button>
                                            <button class="btn dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                
>
                                                <li><a href="#">Settings</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-primary">fullfill</a>
                                    </div>
                                </div>
                                <div class="module-body table">
                                    <table class="table table-message">
                                        <tbody>
                                            <tr class="heading">
                                                <td class="cell-check">
                                                    <input type="checkbox" class="inbox-checkbox">
                                                </td>
                                                <td class="cell-icon">
                                                </td>
                                                <td class="cell-author hidden-phone hidden-tablet">
                                                    client name
                                                </td>
                                                <td class="cell-title">
                                                    product
                                                </td>
                                                
                                                <td class="cell-time align-right">
                                                    quantity
                                                </td>
                                                <td class="cell-time align-right">
                                                    cost
                                                </td>
                                                <td class="cell-time align-right">
                                                    date
                                                </td>
                                            </tr>
                                            {%for i in saleinventory%}
                                            <tr class="unread">
                                                <td class="cell-check">
                                                    <input type="checkbox" class="inbox-checkbox">
                                                </td>
                                                <td class="cell-icon">
                                                    <i class="icon-star"></i>
                                                </td>
                                                <td class="cell-author hidden-phone hidden-tablet">
                                                    {{i.Client_Name}}
                                                </td>
                                                <td class="cell-title">
                                                    {{i.Product}}
                                                </td>
                                                
                                                <td class="cell-time align-right">
                                                    {{i.Quantity}}
                                                </td>
                                                <td class="cell-time align-right">
                                                    {{i.Cost}}
                                                </td>
                                                <td class="cell-time align-right">
                                                    {{i.saledate}}
                                                </td>
                                            </tr>
                                           {%endfor%}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="module-foot">
                                </div>
                            </div>
                        </div>
                        <!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
      {% endblock %}