{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Expense Management Console</h3>
							</div>
							
							<div class="module-body table">								

								<table class="table table-message">
									<tbody>
										<tr class="heading">
											<td class="cell-icon"></td>
											<td class="cell-title">Employee</td>
											<td class="cell-status hidden-phone hidden-tablet">Cost</td>
											<td class="cell-status hidden-phone hidden-tablet">Expense Nature</td>
											<td class="cell-time align-right">date</td>
											
										</tr>
										{%for i in expense %}
										<tr class="task">
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td class="cell-title"><div>{{i.Employee_Name}}</div></td>
											<td class="cell-status hidden-phone hidden-tablet"><b class="due">{{i.Expense_Cost}}</b></td>
											<td class="cell-status hidden-phone hidden-tablet">{{i.Item_Name}}</b></td>
											<td class="cell-time align-right">{{i.Expense_Date}}</td>
											
										</tr>
										{%endfor%}
										<tr class="task">
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td class="cell-title"><div>Total Expenses</div></td>
											<td class="cell-status hidden-phone hidden-tablet"><b class="due">{{total_expense}}</b></td>

											
										</tr>
                                       
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% endblock %}