{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Misbehaviour and Breakages Management Console</h3>
							
							<div class="module-body table">								

								<table class="table table-message">
									<tbody>
										<tr class="heading">
											<td class="cell-icon"></td>
											<td class="cell-title">Misbehaviour</td>
											<td class="cell-status hidden-phone hidden-tablet">Employee</td>
											<td class="cell-status hidden-phone hidden-tablet">Date</td>
											<td class="cell-time align-right">Estimated Amount</td>
											
										</tr>
										
										<tr class="task">
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td class="cell-title"><div>reprinted banner</div></td>
											<td class="cell-status hidden-phone hidden-tablet"><b class="due">isaac</b></td>
											<td class="cell-status hidden-phone hidden-tablet">27/1/21</b></td>
											<td class="cell-time align-right">200</td>
											
										</tr>
										
                                       
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	{% endblock %}