{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Invoice Management Console</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Filter : &nbsp;
									<div class="btn-group">
										<button class="btn">All</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">All</a></li>
											<li><a href="#">Approved</a></li>
											<li><a href="#">Paid</a></li>
											<li class="divider"></li>
											<li><a href="#">Unpaid</a></li>
											
										</ul>
									</div>
								</div>
								<div class="pull-right">
									<a href="#" class="btn btn-primary">Approve Invoice</a>
								</div>
							</div>
							<div class="module-body table">								

								<table class="table table-message">
									<tbody>
										<tr class="heading">
											<td class="cell-icon"></td>
											<td class="cell-title">Client Name</td>
											<td class="cell-status hidden-phone hidden-tablet">Amount</td>
											<td class="cell-status hidden-phone hidden-tablet">Invoice Id</td>
											<td class="cell-time align-right">Contact</td>
											<td class="cell-time align-right">Date</td>
										</tr>
										{% for i in invoice %}
										<tr class="task">
											
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td class="cell-title"><div>{{i.Client_Name}}</div></td>
											<td class="cell-status hidden-phone hidden-tablet"><b class="due">Ksh.{{ i.Invoice_Total}} </b></td>
											<td class="cell-status hidden-phone hidden-tablet">DFRT</b></td>
											<td class="cell-time align-right">{{i.Invoice_Total}} </td>
											<td class="cell-time align-right">{{i.Invoice_Date}} </td>
										</tr>
										{%endfor%}
                                       
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<script type="text/javascript">
		$(document).ready(function() {
			$('.table-message tbody tr').click(
				function() 
				{
					$(this).toggleClass('resolved');
				}
			);
		} );
	</script>
{% endblock %}