{%extends 'employee_base.html'%}
{%load static%}
{%block content%}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

               
                
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Customer Registration Console</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" method="POST", action="">
                                            {%csrf_token%}
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        
                                                      {{form}}
                                                    </div>
                                                </div>
                                                
                                    
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Submit</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="module">
                                    <div class="module-head">
                                        <h3>
                                            Snapshot of Employees</h3>
                                    </div>
                                    <div class="module-body table">
                                        <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                            width="100%">
                                            
                                            <tbody>
                                               
                                                <tr class="even gradeC">
                                                    <td>
                                                        Name
                                                    </td>
                                                    <td>
                                                        Department
                                                    </td>
                                                    <td>
                                                        Monthly Salary
                                                    </td>
                                                    <td class="center">
                                                        Id Number
                                                    </td>
                                                    <td class="center">
                                                        Employee Status
                                                    </td>
                                                </tr>
                                               
                                                
                                            </tbody>
                                            {%for i in employees%}
                                            <tfoot>
                                                <tr>
                                                    <th>
                                                        {{i.First_Name}} 
                                                    </th>
                                                    <th>
                                                        {{i.Employee_Department}}
                                                    </th>
                                                    <th>
                                                        {{i.Employee_Salary}}
                                                    </th>
                                                    <th>
                                                        none
                                                    </th>
                                                    <th>
                                                        {{i.Employee_Status}}
                                                    </th>
                                                </tr>
                                            </tfoot>
                                            {%endfor%}
                                        </table>
                                    </div>
                                </div>
                                <!--/.module-->
                            </div>
                            <!--/.content-->
                        </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
            </div>

           {%endblock%}