{%extends 'customer_base.html' %}
{%load static%}
{%block content%}

            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{%url 'homeindex'%}">Home</a></li>
                            <li class="active">Moses Ndungu</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- Begin Li's Main Blog Page Area -->
            <div class="li-main-blog-page pt-60 pb-55">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Main Content Area -->
                        <div class="col-lg-9 order-1">
                            <div class="row li-main-content">
                                <div class="col-lg-6 col-md-6">
                                    <div class="li-blog-single-item pb-25">
                                        <div class="li-blog-banner">
                                            <a href="blog-details-left-sidebar.html"><img class="img-full" src="{% static 'customerportal/images/users/mose.jpg' %}" alt="Glatex Signs Africa User dashboard Profile"></a>
                                        </div>
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-25"><a href="blog-details-left-sidebar.html">Blackuser > Marketer</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>Moses</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> Account Settings</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> 25 nov 2018</a>
                                                </div>
                                                <p>You can easily monitor your wishlist, order and favourites now. Get more goods with discounted prices.</p>
                                                <a class="read-more" href="blog-details-left-sidebar.html">Go to Shop Page</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="li-blog-single-item pb-25">
                                        <div class="li-blog-gallery-slider slick-dot-style">
                                            <div class="li-blog-banner">
                                                <a href="blog-details-left-sidebar.html"><img class="img-full" src="{% static 'customerportal/images/users/mose.jpg' %}" alt=""></a>
                                            </div>
                                           
                                        </div>
                                        <div class="li-blog-content">
                                            <div class="li-blog-details">
                                                <h3 class="li-blog-heading pt-25"><a href="blog-details-left-sidebar.html">Management and services</a></h3>
                                                <div class="li-blog-meta">
                                                    <a class="author" href="#"><i class="fa fa-user"></i>New Orders</a>
                                                    <a class="comment" href="#"><i class="fa fa-comment-o"></i> Pending Orders</a>
                                                    <a class="post-time" href="#"><i class="fa fa-calendar"></i> Money Analyzer</a>
                                                </div>
                                                <p>View your orders, income generation and contacts easily.</p>
                                                <a class="read-more" href="blog-details-left-sidebar.html">Read More...</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                        <!-- Li's Main Content Area End Here -->
                        <!-- Begin Li's Blog Sidebar Area -->
                        <div class="col-lg-3 order-2">
                            <div class="li-blog-sidebar-wrapper">
                                <div class="li-blog-sidebar">
                                    <div class="li-sidebar-search-form">
                                        <h3>Moses Wambui</h3>
                                    </div>
                                </div>
                                <div class="li-blog-sidebar pt-25">
                                    <h4 class="li-blog-sidebar-title">Services</h4>
                                    <ul class="li-blog-archive">
                                        <li><a href="#">Dashboard</a></li>
                                        <li><a href="#">Pending Orders</a></li>
                                        <li><a href="#">Fulfilled Orders</a></li>
                                        <li><a href="#">Promotional Codes</a></li>
                                        
                                    </ul>
                                </div>
                                <div class="li-blog-sidebar">
                                    <h4 class="li-blog-sidebar-title">Accounts</h4>
                                    <ul class="li-blog-archive">
                                        <li><a href="#">Profile</a></li>
                                        <li><a href="#">Change Password</a></li>
                                        <li><a href="#">Logout</a></li>

                                    </ul>
                                </div>
                               
                               
                            </div>
                        </div>
                        <!-- Li's Blog Sidebar Area End Here -->
                    </div>
                </div>
            </div>
           {%endblock%}