{%extends 'customer_base.html'%}
{%load static%}
{%block content%}
                <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                    <div class="container"> 
                        <div class="row">
                            <div class="mobile-menu">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mobile Menu Area End Here -->
            </header>
            <!-- Header Area End Here -->
            <!-- Begin Li's Breadcrumb Area -->
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{% url 'homeindex' %}">Home</a></li>
                            <li class="active">About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span style="color: blue;">Design-Print-Fabricate-Brand</span>Products For You</h2>
                                <p> With<strong style="color: red;">  Glatex Signs Africa</strong>,its easy to order Bulky <strong style="color: blue;"> Tshirts, Hoodies, Reflective Jackets, Caps </strong> or any other Clothing item you want Customized With a Design of your choice.We offer high 5 high quality cloth Printing services which are: <strong style="color: blue;"> Screen Printing, Direct To Garments,Sublimation, Heat Press Printing & Embroidery</strong></p>
                                <p>With our <strong>High quality Large Format Printing </strong>  machines with high capabilities,we Help you print durable and impressive products, <strong style="color: blue;"> from vinyl stickers & PVC banners to rollup and telescopic banners</strong> that will Server the purpose. We help Brand your vehicle either for business or political purposes.Visit us Today!!</p>
                                <p>We help you <strong> show love to your loved ones, close family or clients </strong> through Printing Promotional Items with creative designs and ideas, made specifically for you. Our list of promotional items include <strong style="color: blue;"> Mugs, Water Bottles, Thermal Mugs, Crystal Trophies, Gift Bags & Photo Frames.</strong></p>
                                
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" src="{% static 'customerportal/images/team/team1.jpg' %}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <div class="team-area pt-60 pt-sm-44">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="li-section-title capitalize mb-25">
                                <h2><span>our team</span></h2>
                            </div>
                        </div>
                    </div> <!-- section title end -->
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img src="{% static 'customerportal/images/team/reception.jpg' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Clement Munyiri</h3>
                                    <p>CEO</p>
                                    <a href="#">+254 718 423 003</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img src="{% static 'customerportal/images/team/reception.jpg' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Yvonne | Kelly</h3>
                                    <p>Receptionists</p>
                                    <a href="#">+254 718 423 003</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img src="{% static 'customerportal/images/team/fabrication.jpg' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Isaac | John</h3>
                                    <p>Fabrication</p>
                                    <a href="#">+254 718 423 003</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-30 mb-sm-60">
                                <div class="team-thumb">
                                    <img src="{% static 'customerportal/images/team/printing.jpg' %}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>Mary| Peter</h3>
                                    <p>Printing</p>
                                    <a href="#">+254 718 423 003</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end single team member -->
                      
                    </div>
                </div>
            </div>
           
            
            {%endblock%}