{%extends 'customer_base.html' %}
{%load static%}
{%block content%}
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
           
            <div class="breadcrumb-area">
                <div class="container">
                    <div class="breadcrumb-content">
                        <ul>
                            <li><a href="{%url 'homeindex'%}">Home</a></li>
                            <li class="active">Single Product Normal</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Li's Breadcrumb Area End Here -->
            <!-- content-wraper start -->
            <div class="content-wraper">
                <div class="container">
                    <form action="{% url 'add_cart' single_product.id %}" method="POST"  >
                        {%csrf_token%}
                        <div class="row single-product-area">
                            
                            <div class="col-lg-5 col-md-6">
                            <!-- Product Details Left -->
                            
                                <div class="product-details-left">
                                    <div class="product-details-images slider-navigation-1">
                                        
                                        <div class="lg-image">
                                            <img src="{{single_product.image.url}}" alt="product image">
                                        </div>
                                        
                                       
                                        
                                    </div>
                                    <div class="product-details-thumbs slider-thumbs-1">
 <!--
                                        {% for product in product_images %}
                                        <div class="sm-image"><img src="{{product.image.url}}" alt="product image thumb"></div>
                                        {% endfor %}
                                         -->
                                         <div class="sm-image"><img src="{{singl_product.image.url}}" alt="product image thumb"></div>
                                    </div>
                                
                                </div>
                                <!--// Product Details Left -->
                            </div>

                            <div class="col-lg-7 col-md-6">
                                <div class="product-details-view-content sp-normal-content pt-60">
                                    <div class="product-info">
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2">{{single_product.product_name}}</span>
                                        </div>
                                        <h2>Category: {{single_product.category}}</h2>
                                        
                                       
                                        <div class="rating-box pt-20">
                                            <ul class="rating rating-with-review-item">
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                
                                            </ul>
                                        </div>
                                        <div class="price-box pt-20">
                                            <span class="new-price new-price-2">Ksh.{{single_product.price}}</span>
                                        </div>
                                        <div class="product-desc">
                                            <p>
                                                <span>{{single_product.description | linebreaks}}
                                                </span>
                                            </p>
                                        </div>
                                       
                                        <div class="product-variants">
                                           
                                                <div class="produt-variants-size ">
                                                    <label>Select Size</label>
                                                    <select name="size" class="nice-select form-control">
                                                        <option value=""  disabled selected> Size</option>
                                                        {% for i in single_product.variation_set.size %}
                                                        <option value="{{ i.variation_value }}" title="S" >{{ i.variation_value | capfirst}}</option>
                                                        {%endfor%}
                                        
                                                        
                                                    </select>
                                                </div> 
                                                <div class="produt-variants-size">
                                                    <label>Select color</label>
                                                    <select name="color" class="nice-select form-control" >
                                                        <option value="" disabled selected>Color</option>
                                                        {% for i in single_product.variation_set.color %}
                                                        <option value="{{ i.variation_value  }}" >{{ i.variation_value | capfirst}}</option>
                                                        {%endfor%}
                                                    
                                                        
                                                    </select>
                                                </div> 
                                                <div class="produt-variants-size">
                                                    <label>Select Service</label>
                                                    
                                                    <select name="service" class="nice-select form-control" >
                                                        <option value=""  disabled selected>Service</option>
                                                        {% for i in single_product.variation_set.service %}
                                                        <option value="{{ i.variation_value}} " title="S" >{{ i.variation_value| capfirst }}</option>
                                                        {%endfor%}
                                                        
                                                    </select>
                                                </div>
                                                <div class="produt-variants-size ">
                                                    <label>Your Design</label>
                                                    <input type="file" placeholder="upload your design ..." name="design">
                                                </div> 
                                           
                                        </div>  
                                      
                                        <br>
                                        <div class="single-add-to-cart">
                                            
                                               
                                                {% if in_cart%}
                                                <a href="" class="btn btn-success" type="submit">Added to cart <i class="fa fa-check"></i> </a>
                                                <a href="{% url 'cart'%}" class="btn btn-outline-primary" type="submit">View cart <i class="fa fa-eye"></i> </a>
                                                {%else%}
                                                <button  class="add-to-cart btn-success" type="submit">Add to cart</button>
                                                {%endif%}
                                           
                                        </div>
                                        <div class="product-additional-info">
                                            <div class="product-social-sharing">
                                                <ul>
                                                    <li class="facebook"><a href="facebook.com/glatexsignsafrica"><i class="fa fa-facebook"></i>Facebook</a></li>
                                                    <li class="twitter"><a href="www.twitter.com/glatexsignsafrica/"><i class="fa fa-twitter"></i>Twitter</a></li>
                                                   
                                                    <li class="instagram"><a href="www.instagram.com/glatexsignsafrica/"><i class="fa fa-instagram"></i>Instagram</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            
                        </div>
                </form>
                </div>
            </div>
            <!-- content-wraper end -->
            <!-- Begin Product Area -->
            <div class="product-area pt-40">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a></li>
                                   <li><a data-toggle="tab" href="#product-details"><span>Product Details</span></a></li>
                                   <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                                </ul>               
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="description" class="tab-pane active show" role="tabpanel">
                            <div class="product-description">
                                <span>{{single_product.description | linebreaks}}</span>
                            </div>
                        </div>
                        <div id="product-details" class="tab-pane" role="tabpanel">
                            <div class="product-details-manufacturer">
                                
                                <p><span>Type: </span> {{single_product.product_type}}</p>
                                <p><span>Category: </span>{{single_product.category}}</p>
                            </div>
                        </div>
                        <div id="reviews" class="tab-pane" role="tabpanel">
                            <div class="product-reviews">
                                <div class="product-details-comment-block">
                                    <div class="comment-review">
                                        <span>Grade</span>
                                        <ul class="rating">
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                            <li class="no-star"><i class="fa fa-star-o"></i></li>
                                        </ul>
                                    </div>
                                    <div class="comment-author-infos pt-25">
                                        <span>You Can only write reviews if you have purchased or ordered an item</span>
                                        <em>{{today}}</em>
                                    </div>
                                    <br>
                                    <div class="review-btn" >
                                        <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
                                    </div>
                                    <!-- Begin Quick View | Modal Area -->
                                    <div class="modal fade modal-wrapper" id="mymodal" >
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <h3 class="review-page-title">Write Your Review</h3>
                                                    <div class="modal-inner-area row">
                                                        <div class="col-lg-6">
                                                           <div class="li-review-product">
                                                               <img src="{{single_product.image.url}}" width="400" height="400"  alt="Li's Product">
                                                               <div class="li-review-product-desc">
                                                                   <p class="li-product-name">{{single_product.product_name}}</p>
                                                                   <p>
                                                                       <span>{{single_product.description}} </span>
                                                                   </p>
                                                               </div>
                                                           </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="li-review-content">
                                                                <!-- Begin Feedback Area -->
                                                                <div class="feedback-area">
                                                                    <div class="feedback">
                                                                        <h3 class="feedback-title">Our Feedback</h3>
                                                                        <form action="#">
                                                                            <p class="your-opinion">
                                                                                <label>Your Rating</label>
                                                                                <span>
                                                                                    <select class="star-rating">
                                                                                      <option value="1">1</option>
                                                                                      <option value="2">2</option>
                                                                                      <option value="3">3</option>
                                                                                      <option value="4">4</option>
                                                                                      <option value="5">5</option>
                                                                                    </select>
                                                                                </span>
                                                                            </p>
                                                                            <p class="feedback-form">
                                                                                <label for="feedback">Your Review</label>
                                                                                <textarea id="feedback" name="comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                            </p>
                                                                            <div class="feedback-input">
                                                                                <p class="feedback-form-author">
                                                                                    <label for="author">Name<span class="required">*</span>
                                                                                    </label>
                                                                                    <input id="author" name="author" value="" size="30" aria-required="true" type="text">
                                                                                </p>
                                                                                <p class="feedback-form-author feedback-form-email">
                                                                                    <label for="email">Email<span class="required">*</span>
                                                                                    </label>
                                                                                    <input id="email" name="email" value="" size="30" aria-required="true" type="text">
                                                                                    <span class="required"><sub>*</sub> Required fields</span>
                                                                                </p>
                                                                                <div class="feedback-btn pb-15">
                                                                                    <a href="#" class="close" data-dismiss="modal" aria-label="Close">Close</a>
                                                                                    <a href="#">Submit</a>
                                                                                </div>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                                <!-- Feedback Area End Here -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>   
                                    <!-- Quick View | Modal Area End Here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <section class="product-area li-laptop-product pt-30 pb-50">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Other products in the same category:</span>
                                </h2>
                            </div>
                            <div class="row">
                               
                                    <div class="product-active owl-carousel">
                                        {% for product in all_products%}
                                        <div class="col-lg-12">
                                            <!-- single-product-wrap start -->
                                            <div class="single-product-wrap">
                                                <div class="product-image">
                                                    <a href="{{product.get_url}}">
                                                        <img src="{{product.image.url}}" alt="glatex signs">
                                                    </a>
                                                    <span class="sticker">New</span>
                                                </div>
                                                <div class="product_desc">
                                                    <div class="product_desc_info">
                                                        <div class="product-review">
                                                            <h4><a class="product_name" href="{{product.get_url}}">{{product.product_name}}</a></h4>
                                                            <h5 class="manufacturer">
                                                                <a href="{{product.get_url}}">{{product.description}}</a>
                                                            </h5>
                                                            <div class="rating-box">
                                                                <ul class="rating">
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li><i class="fa fa-star-o"></i></li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                       
                                                        <div class="price-box">
                                                            <span class="new-price">{{product.price}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="add-actions">
                                                        <ul class="add-actions-link">
                                                            <li class="add-cart active"><a href="{% url 'add_cart' product.id%}">Add to cart</a></li>
                                                            <li><a href="{{product.get_url}}" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>
                                                            <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- single-product-wrap end -->
                                        </div>
                                        {% endfor %}
                                    </div>
                              
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
          
        {%endblock%}