{% extends 'admin_base.html' %}
{% load static %}
{% block content %}


				<div class="span9">
					<div class="content">

						<div class="module">
							<div class="module-head">
								<h3>Register User </h3>
							</div>
							<div class="module-body">
									

								

									<form class="form-horizontal row-fluid" method="POST", action="">
										{%csrf_token%}
										

										<div class="control-group">
											
											<div class="controls">
												{{form}}
											</div>
										</div>
										

										<div class="control-group">
											<div class="controls clearfix">
												<button type="submit" class="btn btn-primary pull-center">Register</button>
												
											</div>
										</div>
									</form>
							</div>
							<div class="module">
                                <div class="module-head">
                                    <h3>
                                        Snapshot of Employees</h3>
                                </div>
                                <div class="module-body table">
                                    <table cellpadding="0" cellspacing="0" border="0" class="datatable-1 table table-bordered table-striped	 display"
                                        width="100%">
                                        
                                        <tbody>
                                           
                                            <tr class="even gradeC">
                                                <td>
                                                    First Name
                                                </td>
                                                <td>
                                                    Surname
                                                </td>
                                                <td>
                                                    email
                                                </td>
                                                <td class="center">
                                                    password
                                                </td>
                                                
                                            </tr>
                                           
                                            
                                        </tbody>
                                        {%for i in employees%}
                                        <tfoot>
                                            <tr>
                                                <th>
                                                    {{i.first_name}} 
                                                </th>
                                                <th>
                                                    {{i.last_name}}
                                                </th>
                                                <th>
                                                    {{i.email}}
                                                </th>
                                                
                                                <th>
                                                   xxxxxxxxxxxxx
                                                </th>
                                            </tr>
                                        </tfoot>
                                        {%endfor%}
                                    </table>
                                </div>
                            </div>
                            <!--/.module-->
                        </div>
                        <!--/.content-->
                    </div>
						</div>

						
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

{% endblock %}