{%extends 'employee_base.html'%}
{%load static%}
{%block content%}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

               
                
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Digital Printing Sales Deletion Management Console</h4>
                                    <p>Are you sure you want to delete:{{digital_sale.Product_Size}}</p>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" method="POST" action='{% url "sales_digitaldelete" digital_sale.id %}'>
                                            {%csrf_token%}
                                            
                                            <div class="row">
                                               
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                      {{form}}
                                                    </div>
                                              
                                             
                                                <div class="col-12 d-flex justify-content-end">
                                                    <a href=""><button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Accept</button></a>
                                                   
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                              
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
            </div>

           {%endblock%}