{%extends 'employee_base.html'%}
{%load static%}
{%block content%}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

               
                
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Digital Printing Sales Management Console</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" method="POST" action=''>
                                            {%csrf_token%}
                                            <div class="row">
                                               
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                      {{form}}
                                                    </div>
                                              
                                             
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Submit</button>
                                                    <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <h4 class="card-title">Large Format</h4>
                                    <table class="table table-striped" id="table1">
                                        <thead>
                                            <tr>
                                                <th>Client</th>
                                                <th>Phone Number</th>
                                                <th>Product Name</th>
                                                <th>Product Size</th>
                                                <th>Quantity</th>
                                                <th>Price per item</th>
                                                <th> Total Amount</th>
                                                <th>Payment Method</th>
                                                <th>Date</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for i in digital_sales %}
                                            <tr>
                                                <td>{{i.Client}}</td>
                                                <td>{{i.Client_Phone}}</td>
                                                <td>{{i.Sales_Product}}</td>
                                                <td>{{i.Product_Size}}</td>
                                                <td>{{i.Sales_Quantity}}</td>
                                                <td>{{i.Amount_Per_Product}}</td>
                                                <td>{{i.Sales_Amount}}</td>
                                                <td>{{i.Payment_Method}}</td>
                                               
                                                <td>
                                                    <span class="badge bg-success">{{i.Sales_Date}}</span>
                                                </td>
                                            </tr>
                                            {%endfor%}
                                            <th>Total     : </th>
                                            <td>
                                                <span class="badge bg-danger">{{total_digital}}</span>
                                            </td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
            </div>

           {%endblock%}