{%extends 'employee_base.html'%}
{%load static%}
{%block content%}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

               
                
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Sales Management Console</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form" method="POST" action=''>
                                            {%csrf_token%}
                                            <div class="row">
                                               
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                      {{form}}
                                                    </div>
                                              
                                             
                                                <div class="col-12 d-flex justify-content-end">
                                                    <button type="submit"
                                                        class="btn btn-primary me-1 mb-1">Submit</button>
                                                    
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <table class="table table-striped" id="table1">
                                        <thead>
                                            <tr>
                                                <th>Client Name</th>
                                                <th>Product</th>
                                                
                                                <th>Quantity</th>
                                                <th>cost</th>
                                                
                                                <th>date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for i in saleinv %}
                                            <tr>
                                                <td>{{i.Client_Name}}</td>
                                                <td>{{Product}}</td>
                                                
                                                <td>{{i.Quantity}}</td>
                                                <td>{{i.Cost}}</td>
                                                
                                                <td>
                                                    <span class="badge bg-success">{{i.saledate}}</span>
                                                </td>
                                            </tr>
                                            {%endfor%}
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic multiple Column Form section end -->
            </div>

           {%endblock%}