{% extends 'employee_base.html' %}
{% load static %}
{% block content %}
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Simplified Accounts DataTable Work stats</h3>
                            <p class="text-subtitle text-muted">For user to check their work list</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Work Stats</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card">
                        <h4 class="card-title"><strong> Glatex Large format Accounts AnalyticsThis week</strong></h4>
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Large format Sales</th>
                                        <th>Digital Printing Sales</th>
                                        <th style="color: red;">Grand Total</th>
                                        <th>Expenses</th>
                                        <th>Profit</th>
                                        <th>% profit</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td>KSH. {{large_formattotal}}</td>
                                        <td>KSH. {{digital_amount}}</td>
                                        <td>
                                            <span class="badge bg-success">KSH. {{grand_total}}</span>
                                        </td>
                                        <td>Ksh. {{expense_amount}}</td>
                                        <td>
                                            <span class="badge bg-success">KSH. {{profit}}</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-success">{{percent_profit}} %</span>
                                        </td>
                                    </tr>
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
                <section class="section">
                    <div class="card">
                        <h4 class="card-title"><strong> Screen Printing Accounts analytis This week</strong></h4>
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                    <tr>
                                        <th>Daily Sales</th>
                                        <th>Daily Expenses</th>
                                        <th style="color: red;">Profit</th>
                                        <th> Percent Profit</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        
                                        <td>
                                            <span class="badge bg-success">KSH.</span>
                                        </td>
                                        <td>Ksh. </td>
                                        <td>
                                            <span class="badge bg-success">KSH.</span>
                                        </td>
                                        <td>
                                            <span class="badge bg-success"> %</span>
                                        </td>
                                    </tr>
                                   
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>

            

   
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

{%endblock%}