{%extends 'customer_base.html'%}
{%load static%}
{%block content%}
            <!-- Header Area End Here -->
            <!-- Begin Slider With Banner Area -->
            
            <div class="slider-with-banner">
                <div class="container">
                    <div class="row">
                        <!-- Begin Slider Area -->
                        <div class="col-lg-8 col-md-8">
                            <div class="slider-area pt-sm-30 pt-xs-30">
                                <div class="slider-active owl-carousel">
                                    <!-- Begin Single Slide Area -->
                                    <div class="single-slide align-center-left animation-style-01 bg-1">
                                        <div class="slider-progress"></div>
                                        <div class="slider-content">
                                            <h5>Sale Offer <span>-10% Off</span> This Month</h5>
                                            <h2>Cap Printing | Personal & Campaign</h2>
                                            <h3>Starting at <span>Ksh.400</span></h3>
                                            <div class="default-btn slide-btn">
                                                <a class="links" href="{%url 'shop'%}">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Slide Area End Here -->
                                    <!-- Begin Single Slide Area -->
                                    <div class="single-slide align-center-left animation-style-02 bg-2">
                                        <div class="slider-progress"></div>
                                        <div class="slider-content">
                                            <h5>Sale Offer <span>Black Friday</span> This Month</h5>
                                            <h2>Polo Tshirt Printing | Custom Design</h2>
                                            <h3>Starting at <span>Ksh.950</span></h3>
                                            <div class="default-btn slide-btn">
                                                <a class="links" href="{%url 'shop'%}">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Slide Area End Here -->
                                    <!-- Begin Single Slide Area -->
                                    <div class="single-slide align-center-left animation-style-01 bg-3">
                                        <div class="slider-progress"></div>
                                        <div class="slider-content">
                                            <h5>Sale Offer <span>-10% Off</span> This Month</h5>
                                            <h2>Cap Printing</h2>
                                            <h3>Starting at <span>Ksh.8,500</span></h3>
                                            <div class="default-btn slide-btn">
                                                <a class="links" href="{%url 'shop'%}">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Single Slide Area End Here -->
                                </div>
                            </div>
                        </div>
                        <!-- Slider Area End Here -->
                        <!-- Begin Li Banner Area -->
                        <div class="col-lg-4 col-md-4 text-center pt-sm-30 pt-xs-30">
                            <div class="li-banner">
                                <a href="#">
                                    <img src="{% static 'customerportal/images/banner/black-and-white-t-shirt-2.png' %}" width="10" height="200" alt="glatex signs africa branded tshirts">
                                </a>
                            </div>
                            <div class="li-banner mt-15 mt-md-30 mt-xs-25 mb-xs-5">
                                <a href="#">
                                    <img src="{% static 'customerportal/images/banner/hoods.jpg' %}"  width="70" height="200" alt="car branding glatex signs africa">
                                </a>
                            </div>
                        </div>
                        <!-- Li Banner Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Slider With Banner Area End Here -->
            <!-- Begin Static Top Area -->
            <div class="static-top-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="static-top-content mt-sm-30">
                                Gift Special: Gift every single day on Weekends - New Coupon code "
                                <span>Glatex Signs Africa</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Static Top Area End Here -->
            <!-- product-area start -->
            <div class="product-area pt-55 pb-25 pt-xs-50">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="li-product-tab">
                                <ul class="nav li-product-menu">
                                   <li><a class="active" data-toggle="tab" href="#large-format-printing"><span>Custom Clothing Designs</span></a></li>
                                   <li><a data-toggle="tab" href="#screen-printing"><span>Promotional Items Design</span></a></li>
                                   
                                </ul>               
                            </div>
                            <!-- Begin Li's Tab Menu Content Area -->
                        </div>
                    </div>
                    <div class="tab-content">
                        <div id="large-format-printing" class="tab-pane active show" role="tabpanel">
                            <div class="row">
                               
                                <div class="product-active owl-carousel">
                                     {% for product in products %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{{product.get_url}}">
                                                    <img src={{product.image.url}} alt="glatex signs africa branded item">
                                                </a>
                                                
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="{{product.get_url}}">{{product.product_name}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{{product.get_url}}">{{product.description | truncatewords:"20"}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">Ksh.{{product.price}}</span>
                                                        
                                                        <span class="discount-percentage">-7%</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="{{product.get_url}}">View Details</a></li>
                                                        <li><a class="links-details" href=""><i class="fa fa-heart-o"></i></a></li>
                                                        
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {%endfor%}
                                </div>
                                
                                
                            </div>

                        </div>
                        <div id="screen-printing" class="tab-pane" role="tabpanel">
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    {%for product in products%}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="">
                                                    <img src={{product.image.url}} alt="glatex signs africa promotional items branding">
                                                </a>
                                               
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="{{product.get_url}}">{{product.product_name}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="">{{product.description | truncatewords:"20"}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Ksh. {{product.price}}</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="{{product.get_url}}">View Details</a></li>
                                                        <li><a class="links-details" href=""><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {%endfor%}
                                   
                                </div>
                            </div>

                        </div>
                       
                    </div>
                </div>
            </div>
           
            <section class="product-area li-laptop-product pt-60 pb-45 pt-sm-50 pt-xs-60">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Large Format Printing</span>
                                </h2>
                                <ul class="li-sub-category-list">
                                    <li class="active"><a href="{%url 'shop'%}">Cloth Printinting</a></li>
                                    <li><a href="{%url 'shop'%}">Promotional Items</a></li>
                                    <li><a href="">Popular</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                
                                <div class="product-active owl-carousel">
                                    {%for product in products%}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{{product.get_url}}">
                                                    <img src="{{product.image.url}}" alt="Glatex signs africa large format printing">
                                                </a>
                                                
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="{{product.get_url}}">Broad Base</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="">Broadbase rollup Banner for outdoor advertisement</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Ksh.8,500  </span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="{{product.get_url}}">View Details</a></li>
                                                        <li><a class="links-details" href=""><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {%endfor%}
                                </div>
                                
                            </div>

                            
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
            <section class="product-area li-laptop-product pt-60 pb-45 pt-sm-50 pt-xs-60">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Services</span>
                                </h2>
                                <ul class="li-sub-category-list">
                                    <li class="active"><a href="">Cloth Printinting</a></li>
                                    <li><a href="">Large Format Printing</a></li>
                                    <li><a href="">Promotional Items</a></li>
                                </ul>
                            </div>

                            <div class="row">
                                
                                <div class="product-active owl-carousel">
                                    {%for service in services %}
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="">
                                                    <img src="{{service.image.url }}" alt="Glatex signs africa car branding">
                                                </a>
                                                
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="">{{service.service_name}}</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="">{{service.description}}</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">{{service.price}}  </span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">View Details</a></li>
                                                        <li><a class="links-details" href=""><i class="fa fa-heart-o"></i></a></li>
                                                        <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i class="fa fa-eye"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    {%endfor%}
                                </div>
                                
                            </div>

                            
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
                
            </section>
            
           
           
           
            
           
{%endblock%}